/* XS - EXTRA SMALL - <576px */
h1 {
    color: red;
  }
  
  /* SM - SMALL - 576px ~ 768px*/
  @media (min-width: 576px) {
    h1 {
      color: blue;
    }
  }
  
  /* MD - medium - 768px ~ 992px*/
  @media (min-width: 768px) {
    h1 {
      color: orange;
    }
  }
  
  /* LG - LARGE - 768px ~ 992px*/
  @media (min-width: 992px) {
    h1 {
      color: blue;
    }
  }
  
  /* xl - extra large - 768px ~ 992px */
  @media (min-width: 1200px) {
    h1 {
      color: green;
    }
  }

  .container{
    background-color: grey;
    color: white;
  }

  .container-fluid{
    background-color: rgb(26, 34, 86);
    color: rgb(42, 255, 219);
  }

  .grid{
    border: 8px dotted red;
    padding: 8px  16px;
  }

  .my-grid{
    border: 8px dotted red;
    padding: 8px  16px;
  }

  .my-row{
    border: 3px solid rgb(27, 24, 24);
    padding: 8px  16px;
  }

  .my-row .col{
    border: 3px dotted rgb(183, 156, 156);
  }

  